<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="icon" href="http://wandering-kitten.googlecode.com/files/favicon.ico" type="icon" sizes="16x16">
<link rel="stylesheet" href="{% static 'css/pinkcloud.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>POTATOS - Redefined Online Radio</title>
</head>

<body>
<div>

<div class="topnav">
<nav id="n1">
<center>
<ul align="center">
  <li><a href='https://www.facebook.com/wanderingkitten' target='_blank'><img alt='Facebook' src="{% static 'images/facebook.png' %}" title='Potatos on Facebook'/></a></li>
  <li><a href='https://twitter.com/luminouscent' target='_blank'><img alt='Twitter' src="{% static 'images/twitter.png' %}" title='Potatos on Twitter'/></a></li>
  <li><a href='http://instagram.com/luminouscent/' target='_blank'><img alt='Instagram' src="{% static 'images/instagram.png' %}" title='Potatos on Instagram'/></a></li>
  <li><a href='https://plus.google.com/108885191897528273340' target='_blank'><img alt='Google+' src="{% static 'images/gplus.png' %}" title='Potatos on Google+'/></a></li>
</ul></center>

</nav>

<nav class="n2" id="n2">
   <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/music/intro.html">Recommended</a></li>
  <li><a href="/music/whatsnew.html">Whats New</a></li>
  <li><a href="/music/">Music</a></li>
  <li><a href="/artikel/">Article</a></li>
  <li></li>
</ul>

</nav>
</div>

<header>
<h1 style="color:#FC5095;text-align:center;">POTATOS</h1>
<p style="text-align:center;color:white;">Redefined Online Radio</p>
</header>


<section>
<form><input style="float:right;" type="text" name="search" placeholder="Search.."></input></form>
<h2>Hot List</h2>
<div class="img">
  <a href="/music/raisa.html">
    <img src="{% static 'images/raisa.jpg' %}" alt="Raisa" width="300" height="200">
  </a>
  <div class="desc">Raisa</div>
</div>

<div class="img">
  <a href="/music/maudy.html">
    <img src="{% static 'images/maudy.jpg' %}" alt="Maudy Ayunda" width="300" height="200">
  </a>
  <div class="desc">Maudy Ayunda</div>
</div>

<div class="img">
  <a href="/music/isyana.html">
    <img src="{% static 'images/isyana.jpg' %}" alt="Isyana Sarasvati" width="300" height="200">
  </a>
  <div class="desc">Isyana Sarasvati</div>
</div>

<div class="img">
  <a href="/music/yura.html">
    <img src="{% static 'images/yura.jpg' %}" alt="Yura" width="300" height="200">
  </a>
  <div class="desc">Yura</div>
</div>

<div class="img">
  <a href="/music/afgan.html">
    <img src="{% static 'images/afgan.png' %}" alt="Afgan" width="300" height="200">
  </a>
  <div class="desc">Afgan</div>
</div>

<div class="img">
  <a href="/music/tulus.html">
    <img src="{% static 'images/tulus.jpg' %}" alt="Tulus" width="300" height="200">
  </a>
  <div class="desc">Tulus</div>
</div>

<div class="img">
  <a href="/music/gac.html">
    <img src="{% static 'images/gac.jpg' %}" alt="GAC" width="300" height="200">
  </a>
  <div class="desc">GAC</div>
</div>

<div class="img">
  <a href="/music/hivi.html">
    <img src="{% static 'images/hivi.jpg' %}" alt="Hivi!" width="300" height="200">
  </a>
  <div class="desc">Hivi!</div>
</div>

<table width="100%">
<tr><td colspan="2"><article style="background-color:transparent;">
<h3 style="float:right;"><a href="/music/">...More Music&#62;&#62;&#62;</a></h3>
</article></td></tr>

<tr><td><article>
<h2>Live Stream Radio</h2>
<p>The wait is over, Potatos is On Air now. Listen the music and share your feeling.</p>
</article></td>

<td><article>
<h2>Disqus | <a href="https://disqus.com/profile/signup/" target='_blank'>Daftar</a> | <a href="https://disqus.com/profile/login/" target='_blank'>Login</a> |</h2>
<p>Daftar atau login <b>Disqus</b>, supaya kamu bisa komentar di artikelnya Potatos.</p>
</article></td><tr>

<tr><td colspan="2"><article style="background-color:transparent;">
<h2>Article</h2>
</article></td></tr>

<tr><td colspan="2"><article>
<h2><a href="/artikel/micin.html">MSG</a></h2>
<p>Kamu tau apa itu MSG? Kenapa makanan pake MSG bisa jadi lebih enak? <a href="/artikel/micin.html">Read More...</a></p>
</article></td></tr>

<tr><td colspan="2"><article>
<h2><a href="/artikel/mantan.html">Mantan</a></h2>
<p>Setelah lama kalian putus, tiba-tiba kalian dapat kabar bahwa si mantan akan menjadi manten dengan orang yang nikung kamu... <a href="/artikel/mantan.html">Read More...</a></p>
</article></td></tr>

<tr><td colspan="2"><article>
<h2><a href="/artikel/twoseasons.html">Two Seasons</a></h2>
<p>Kenapa di Indonesia hanya mempunyai dua musim? Yang satu musim kemarau, dan satu lagi musim penghujan. Mau tau? <a href="/artikel/twoseasons.html">Read More...</a></p>
</article></td></tr>

<tr><td colspan="2"><article>
<h2><a href="/artikel/malming.html">Malam Minggu</a></h2>
<p>Kenapa malam minggu begitu spesial? Lebih spesial manakah malam minggu di banding dengan martabak keju? <a href="/artikel/malming.html">Read More...</a></p>
</article></td></tr>

<tr><td colspan="2"><article style="background-color:transparent;">
<h3 style="float:right;"><a href="/artikel/">...More Article&#62;&#62;&#62;</a></h3>
</article></td></tr>

</table>
</section>



<div class="footer">
<footer>
      <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/potatos.html'>About</a></li>
      <li><a href='/advertise.html'>Advertise</a></li>
      <li><a href='/contacts.html'>Contact Us</a></li>
      <li><a href='/disclaimer.html'>Disclaimer</a></li>
      <li><a href='/tugas/'>Tugas</a></li>
             </ul>
</footer>

<footer id="f2">
<p>Copyright &#169; 2016 <a href="/">Potatos</a> | Design by Lumi Potato</p>
</footer>
</div>
</div> 

</body>
</html>	